.contacts {
	$self: &;

	@extend %container;

	padding-bottom: 30px;

	&-row {
		@extend %row;
	}

	&-info {
		@extend %col-6;
		
		font-size: 18px;
		padding: 0;
	}

	&-form {
		@extend %col-6;
	}

	&-item {
		&_name {
			width: 100%;
			font-weight: 700;
		}

		&_label {
			display: block;
		}

		&_value {
			font-weight: 700;
		}
	}

	&-blocks {
		display: flex;
	}

	&-block {
		width: 50%;
	}
}
