.contacts {
	$self: &;

	@extend %container;

	padding-bottom: 30px;

	&-row {
		@extend %row;
	}

	&-info {
		@extend %col-12;
		@extend %col-md-6;

		font-size: 18px;
		margin-bottom: 15px;

		@media (min-width: map-get($grid-breakpoints, md)) {
			padding-right: 0;
		}
	}

	&-form {
		@extend %col-12;
		@extend %col-md-6;
	}

	&-item {
		&_name {
			width: 100%;
			font-weight: 700;
		}

		&_label {
			display: block;
		}

		&_value {
			font-weight: 700;
		}
	}

	&-blocks {
		display: flex;
		flex-wrap: wrap;
	}

	&-block {
		width: 100%;

		@media (min-width: map-get($grid-breakpoints, md)) {
			width: 50%;
		}
	}
}
