.reviews {
	$self: &;

	@extend %container;

	padding-bottom: 30px;

	&-row {
		@extend %row;
	}

	&-arrow {
		@extend %col-1;

		display: none;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		opacity: .45;
		cursor: pointer;
		transition: opacity .3s;

		@media (min-width: map-get($grid-breakpoints, sm)) {
			display: block;
		}

		&:hover {
			opacity: 1;
		}

		&_left {
			background-image: url("../../../images/icons/arrow_l.svg");
		}

		&_right {
			background-image: url("../../../images/icons/arrow_r.svg");
		}
	}

	&-carousel {
		@extend %col-12;
		@extend %col-sm-10;

		padding: 0;
		min-height: 250px;
	}

	&-item {
		display: flex;
		flex-direction: column;

		@media (min-width: map-get($grid-breakpoints, md)) {
			flex-direction: row;
		}
	}

	&-photo {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 0 10% 10px 10%;

		img {
			border-radius: 5px;
		}

		@media (min-width: map-get($grid-breakpoints, md)) {
			width: 25%;
			padding: 0 15px;
		}
	}

	&-texts {
		width: 100%;
		padding: 0 15px;
		text-align: justify;

		@media (min-width: map-get($grid-breakpoints, md)) {
			width: 75%;
			padding: 0;
		}
	}

	&-text {
		a {
			color: $red;
		}
	}

	&-name {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		text-align: right;

		a {
			@extend %link;
		}
	}
}

