.menu {
	$self: &;

	&_main {
		margin: 0 -15px;

		#{$self} {
			&-list {
				display: flex;
				height: 100%;
			}

			&-item {
				position: relative;
				display: flex;
				height: 100%;
				padding: 0 15px;
				align-items: stretch;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;

				&_current::before,
				&:hover::before {
					content: "";
					position: absolute;
					left: 0;
					top: 100%;
					width: 100%;
					height: 5px;
					background-color: $red;
				}
			}

			&-link {
				display: flex;
				align-items: center;
			}
		}
	}
}
