.review {
	min-height: 250px;
	padding-bottom: 50px;

	&_blue {
		background-color: $blue;
	}

	&-container {
		@extend %container;

		display: flex;
		flex-direction: column;

		@media (min-width: map-get($grid-breakpoints, md)) {
			flex-direction: row;
		}
	}

	&-photo {
		width: 100%;
		padding: 0 10% 10px 10%;

		img {
			border-radius: 5px;
		}

		@media (min-width: map-get($grid-breakpoints, md)) {
			min-width: 200px;
			width: 200px;
			padding: 0;
			margin-right: 80px;
		}
	}

	&-texts {
		padding: 0 15px;
		font-size: 14px;
		text-align: justify;

		@media (min-width: map-get($grid-breakpoints, md)) {
			padding: 0;
		}
	}

	&-text {
		//
	}

	&-name {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		text-align: right;
		font-weight: 600;
		font-size: 13px;
	}
}
