.title {
	$self: &;

	@extend %container-fluid;

	margin-bottom: 25px;
	background-color: $white;

	&-container {
		@extend %container;

		padding-top: 10px;
		padding-bottom: 10px;
	}

	&-text {
		font-size: 28px;
		font-weight: bold;
		padding-left: 40px;
		background-image: url("../images/icons/title_arrow.svg");
		background-size: 30px;
		background-position: 0 center;
		background-repeat: no-repeat;
	}

	h1#{$self}-text {
		margin-bottom: 0;
	}
}
