.menu_aside {
	@extend %d-lg-none;

	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 999999;
	top: 55px;
	left: -280px;
	width: 280px;
	height: calc(100vh - 55px);
	background-color: $black;
	transition: left .22s ease-out;
	overflow-y: auto;

	&.is-active {
		left: 0;
	}

	.menu {
		&-menu {
			padding: 0 15px;
		}

		&-item {
			color: $white;

			&_current {
				color: $red !important;
			}
		}

		&-link {
			display: block;
			padding: 10px 0;
			font-weight: bold;
		}

		&-languageSwitch {
			display: flex;
			justify-content: center;
			width: 100%;
			margin-top: 30px;
			
			.languageSwitch {
				width: 100px;
				margin: 0 15px;
				text-align: left;
				color: $white;

				&-arrow {
					right: 0;
				}
			}
		}
	}
}
