.header {
	display: none;
	min-height: 75px;
	background-color: $black;
	color: $white;

	@media (min-width: map-get($grid-breakpoints, lg)) {
		display: flex;
	}

	&-container {
		@extend %container;

		display: flex;
		flex-direction: column;
	}

	&-row {
		@extend %row;

		height: 100%;
		align-items: center;
	}

	&-logo {
		@extend %col-2;
	}

	&-languageSwitch {
		@extend %col-2;

		display: flex;
		height: 100%;
	}

	&-menu {
		@extend %col-5;

		display: flex;
		height: 100%;
	}

	&-phone {
		@extend %col-3;

		font-size: 20px;
		text-align: right;
		color: $red;

		@media (min-width: map-get($grid-breakpoints, xl)) {
			font-size: 24px;
		}

		a {
			@include icon_before("../images/header/phone.svg", "center");

			padding: 5px 0 5px 35px;

			&::before {
				width: 30px;
			}
		}
	}
}
