.portfolio {
	$self: &;

	padding-bottom: 30px;

	&-menu {
		@extend %container;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&-menuItem {
		margin: 0 15px 10px 15px;
		font-weight: 700;
		cursor: pointer;

		&.is-active,
		&:hover {
			color: $red;
		}
	}

	&-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&-item {
		display: none;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&.is-active {
			display: block;
		}
	}

	&-link {
		position: relative;
		display: block;
		width: 100%;
		padding-bottom: 62.5%;

		&:hover #{$self}-info {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&-info {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		padding: 25px;
		background-color: rgba(0, 0, 0, .7);
		opacity: 0;
		pointer-events: none;
		transition: opacity .33s;

		h4 {
			color: $white;
			font-weight: bold;
			font-size: 16px;
			text-transform: uppercase;
		}

		span {
			color: $white;
			font-weight: bold;
			font-size: 15px;
		}
	}

	@include media-breakpoint-up(sm) {
		&-item {
			width: (100% / 2);
		}
	}

	@include media-breakpoint-up(md) {
		&-item {
			width: (100% / 3);
		}
	}
}
