.services {
	$self: &;

	padding-bottom: 30px;

	&_blue {
		background-color: $blue;
	}

	&-container {
		@extend %container;
	}

	&-row {
		@extend %row;
	}

	&-col {
		@extend %col-12;
		@extend %col-md-6;
		@extend %col-lg-3;

		padding-bottom: 30px;
	}

	&-card {
		min-height: 430px;
		height: 100%;
		padding: 180px 25px 30px 25px;
		margin: 0;
		border-radius: 5px;
		border: 1px solid rgba(39, 43, 46, .125);
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .16);
		background-color: $white;
		background-size: 120px;
		background-position: center 30px;
		background-repeat: no-repeat;

		&_design {
			background-image: url("../images/services/design.svg");
		}

		&_development {
			background-image: url("../images/services/development.svg");
		}

		&_promotion {
			background-image: url("../images/services/promotion.svg");
		}

		&_support {
			background-image: url("../images/services/support.svg");
		}
	}

	&-title {
		margin-bottom: 17px;
		font-family: "Open Sans", sans-serif;
		text-align: center;
		font-weight: 700;
		font-size: 26px;
	}

	&-list {
		//
	}

	&-item {
		position: relative;
		padding-left: 18px;
		background-size: 14px;

		&::before {
			content: "";
			position: absolute;
			left: 5px;
			top: calc(50% - 2.5px);
			display: block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $red;
		}
	}

	&-link {
		//
	}
}
