.post {
	$self: &;

	&_portfolio {
		margin-bottom: 30px;
		background-color: $white;

		#{$self} {
			&-carousel {
				margin-bottom: 25px;
			}

			&-text {
				@extend %col-12;

				font-size: 14px;

				h6 {
					font-size: 24px;
					font-weight: bold;
				}
			}
		}
	}
}
