.post {
	$self: &;

	&_services {
		padding-bottom: 30px;

		#{$self} {
			&-content {
				@extend %col-12;
			}

			&-title {
				@extend %col-12;
			}

			&-carousel {
				margin-bottom: 25px;
			}

			&-info {
				@extend %row;
				@extend %col-12;

				margin-left: 0;
				margin-right: 0;
				margin-bottom: 15px;
			}

			&-card {
				@extend %col-12;
				@extend %col-md-6;

				display: flex;
				margin-bottom: 15px;
				
				&Icon {
					width: 120px;
					height: 120px;
					margin-right: 50px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;

					&_cost {
						background-image: url("../images/services/cost.svg");
					}

					&_deadline {
						background-image: url("../images/services/deadline.svg");
					}
				}

				&Info {
					display: flex;
					flex-direction: column;
					justify-content: center;

					h6 {
						margin-bottom: 0;
						font-weight: bold;
						font-size: 20px;
						line-height: 20px;
					}

					span {
						font-weight: bold;
						font-size: 30px;
					}
				}
			}

			@include media-breakpoint-up(md) {
				&-card {
					justify-content: center;
					margin-bottom: 0;
				}
			}

			@include media-breakpoint-up(lg) {
				&-card {
					padding-right: 130px;
				}
			}
		}
	}
}
