.carousel {
	$self: &;

	&_fullwidth {
		position: relative;

		.siema {
			&-item {
				position: relative;
			}
		}

		#{$self} {
			&-inner {
				img {
					width: 100%;
				}

				.carousel-text {
					position: absolute;
					top: 0;
					left: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					height: 100%;
				}

				p {
					width: 100%;
					padding: 0 140px;
					color: $white;
					font-weight: bold;
					font-size: 16px;
					line-height: 22px;
					text-align: center;
				}
			}

			&-dots {
				position: absolute;
				bottom: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 50px;
			}

			&-dot {
				width: 10px;
				height: 10px;
				padding: 0;
				margin: 0 8px;
				background-color: $white;
				border-radius: 50%;

				&_active {
					background-color: $red;
					width: 14px;
					height: 14px;
					margin: 0 6px;
				}
			}

			&-arrow {
				position: absolute;
				top: 0;
				width: 46px;
				height: 100%;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;

				&_left {
					left: 45px;
					background-image: url("../images/carousel/arrow_left_contour_white.svg");
				}

				&_right {
					right: 45px;
					background-image: url("../images/carousel/arrow_right_contour_white.svg");
				}
			}

			@include media-breakpoint-up(sm) {
				&-inner {
					p {
						font-size: 24px;
						line-height: 32px;
					}
				}
			}

			@include media-breakpoint-up(md) {
				&-inner {
					p {
						font-size: 36px;
						line-height: 32px;
					}
				}
			}

			@include media-breakpoint-up(lg) {
				&-inner {
					p {
						font-size: 48px;
						line-height: 65px;
					}
				}
			}
		}

		&#{$self}_separateArrows {
			#{$self} {
				&-inner {
					margin: auto;
				}

				&-arrow {
					&_left {
						left: 31px;
						background-image: url("../images/carousel/arrow_left_contour_red.svg");
					}

					&_right {
						right: 31px;
						background-image: url("../images/carousel/arrow_right_contour_red.svg");
					}
				}

				@include media-breakpoint-up(lg) {
					&-inner {
						width: calc(100% - 203px);
					}
				}
			}
		}
	}
}
