.footer {
	display: flex;
	min-height: 25px;
	background-color: $black;
	color: $white;

	&-container {
		@extend %container;
	}

	&-row {
		@extend %row;
	}

	&-copyright {
		@extend %col-12;
		@extend %col-lg-6;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 10px;

		& > span {
			padding-right: 10px;
		}

		.menu-list {
			padding-left: 10px;
			display: flex;

			li {
				padding-right: 10px;
				text-align: center;
			}

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		@media (min-width: map-get($grid-breakpoints, lg)) {
			justify-content: flex-start;
			margin-bottom: 0;
		}
	}

	&-links {
		@extend %col-12;
		@extend %col-lg-6;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (min-width: map-get($grid-breakpoints, sm)) {
			flex-direction: row;
		}

		@media (min-width: map-get($grid-breakpoints, lg)) {
			justify-content: flex-end;
		}
	}

	&-link {
		padding-right: 10px;

		:not(:last-of-type) {
			padding-right: 0;
		}

		&_phone {
			@include icon_before("../images/icons/phone_small.svg");

			padding-left: 20px;

			&::before {
				width: 18px;
			}
		}

		&_mail {
			@include icon_before("../images/icons/envelope.svg", "left center");

			padding-left: 20px;

			&::before {
				width: 15px;
			}
		}

		&_fb {
			width: 20px;
			height: 20px;
			background-size: 15px;
			background-repeat: no-repeat;
			background-position: bottom center;
			background-image: url("../images/icons/fb.svg");
		}
	}
}
